.icon-chat{
    width: 5em;
    height: 5em;
    border: 1px solid #007bff;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    background: #007bff;
    position: fixed;
    left: 1em;
    bottom: 2em;
    color: white;
    padding-top: 0.3em;
    
    &:hover{
        color: white;
    }

    button:focus {
        outline: 1px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    .icon-mail{
        width: 1.3em;
        color: white;
    }

    @media (min-width: 768px) {
        right: 5em;
        bottom: 5em;
        left: unset;
    }
}

#main-chat-sidebar{
    top:18%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100% !important;
    height: 75vh;

    header strong{
        margin-right: 20px;
    }

    .b-sidebar-body .card{
        height: 67vh;
        .card-body{
            .fixed-top{
                padding: 3px 5px;
                background-color: white;
                top: 2.9em;
                width: 100%;
                font-size: 1.1em;
            }

            .messages-container{
                display: flex;
                flex-flow: column nowrap;

                .msg-container{
                    width: auto;
    
                    &.success{
                        text-align: right;
                        align-self: flex-end;
                    }

                    &.info{
                        align-self: flex-start;
                    }
                    
                    .badge{
                        font-size: 92%;
                        font-weight: 400;
                        .badge-info{
                             left:0px;
                        }
                        .badge-success{
                             right: 0px;
                        }
                    }
    
                    .p-message{
                        border-bottom-left-radius: 15px;
                        border-top-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        border-top-right-radius: 15px;
                        width: fit-content;
                        max-width: 200px;
                        color: white;
    
                        &.success{
                            background-color: #007bff;
                        }
    
                        &.info{
                            background-color: #5caf17;
                        }
                    }
                }
            }
        } 

    }

    footer form .container{
        padding-right: 0px;
        padding-left: 0px;

        .row {
            .chat-form-input{
                padding-right: 0px;
            }
            .chat-form-submit{
                padding-left: 5px;
            }
        }
    }
    
    @media (min-width: 768px) {
        width: 320px !important;
        top:25%;

        &.b-sidebar-right{
            right: 66px;
        }

        .b-sidebar-body .card .card-body .fixed-top{
                width: 94%;
        }
    }
}   