{% extends 'body.html' %}

{% block dashboard %}
<div class="card2 card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Informes
        </h3>
    </div>
    <div class="card shadow mb-4">
        <iframe width="1600" height="1100"
            src="https://datastudio.google.com/embed/reporting/4b892a20-5025-409f-943c-50e485f6cf05/page/ZpLkB"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="card-footer">
        <a href="{% url 'usuario:usuario_lista_pdf' %}" class="nav-link btn-info btn-flat">
            <i class="fas fa-download"></i> Descargar
        </a>
    </div>
</div>

{% endblock %}

