{% extends 'body.html' %}
{% load static %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
<form id="form" method="post" action="#">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if  action  == 'edit' %}
                <i class="fas fa-edit"></i>                    
                {% endif %}

                {% if action == 'crear' %}
                    <i class="fas fa-plus"></i>
                {% endif %}
                {{ title }}              
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}"> 
            <!-- {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    x
                </button>
                <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error al intentar guardar el registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %} -->

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="email"> {{ field.label }}:</label>
                {{ field }}
            </div>
            {% endfor %}
            <!--<div class="form-group">
                    <label for="email"> {{ form.nombres.label }}:</label>
                    {{ form.nombres }}
                </div> -->

        </div>
        <div class="card-footer">            
            {% block botton %}

            {% endblock %}  
            <button id="boton11" type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>    
        </div>

    </div>
</form>
<script>
    // $("#form").on('submit', function(e) {
    //         $.alert({
    //         title: 'Alert!',
    //         content: 'Simple alert!',
    //         });


    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error }}\n\n';  
        {% endfor %}
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: errors,
        });
    {% endif %}

    


        

    
    // alert_jqueryconfirm();
    // --- AJAX -----
    //No funciona DESDE AQUI - VIDEO 29
    // document.createElement('form').submit.call(document.frmGen)

    /*$('form').on('submit', function (e) {
        e.preventDefault();
        // alert('x');
        var parameters = $(this).serializeArray();
        // console.log(parameters);
            $.ajax({
                url: '{% url 'erp:paciente_crear' %}',
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    Location.href = '{{ url_listar }}';
                    return false;                    
                }
                mensaje_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            }); 
        });*/
        // #--- AJAX -----
    
</script>
{% endblock %}